{
	"useTabs": false,
	"tabWidth": 4,
	"singleQuote": false,
	"trailingComma": "none",
	"printWidth": 80,
	"semi": true,
	"bracketSpacing": true,
	"bracketSameLine": true,
	"quoteProps": "consistent",
	"arrowParens": "avoid",
	"plugins": ["prettier-plugin-svelte"],
	"overrides": [{ "files": "*.svelte", "options": { "parser": "svelte" } }]
}
