name: Run tests on PR to main

on:
  pull_request:
    paths:
      - "apps/web/**"
      - "pr.yml"
    branches:
      - main

jobs:
  TestBuild:
    runs-on: ubuntu-latest
    env:
      PUBLIC_SUPABASE_ANON_KEY: ${{ secrets.PUBLIC_SUPABASE_ANON_KEY }}
      PUBLIC_SUPABASE_URL: ${{ secrets.PUBLIC_SUPABASE_URL }}
      REDIS_PASSWORD: ${{ secrets.REDIS_PASSWORD }}
      SERVICE_KEY: ${{ secrets.SERVICE_KEY }}
      API_ACCESS_TOKEN: ${{ secrets.API_ACCESS_TOKEN }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20"
      - name: Install dependencies
        working-directory: apps/web
        run: npm ci
      - name: Test build
        working-directory: apps/web
        run: npm run build
